<ul class= "nav">
    <li ng-click="home()">home</li>
    <li ng-click="projects()">projects</li>
</ul>

<ul id = "aboutMeStuff">
    <li>   
        <ul class="aboutText">
            <li id = "storyh1" ng-bind="story"></li>    
            <li id= "bodyContent" ng-bind="story2"></li>
            
        </ul>
    </li>
    <li>
        <ul class="aboutText">
                <li id="image"><img ng-src="./images/site.png" alt="Description"/></li>
            
        </ul>
    </li>
</ul>
<ul class="links">
    <li><a href="https://github.com/ben-marcantel">Github</a></li>
    <li><a href="mailto:ben.marcantel@gmail.com">Contact me</a></li>
    <li><a href="https://www.linkedin.com/in/ben-marcantel-7552a614/">Linked In</a></li>
    
</ul>