<ul class = "nav">
    <li ng-click="home()">home</li>
    <li ng-click="about()">about</li>
</ul>
<div class="portItem" ng-click="isOpen = !isOpen">Software</div>
<div class= "linkContainer">
<ul  class ="portList" id="software" ng-show="isOpen">
    <li>
        <iframe width="560" height="315" src="https://ben-marcantel.github.io/p01FollowAlong/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src="https://ben-marcantel.github.io/mlColors/"></iframe>
    </li>
    <li>
    <iframe width="560" height="315" src= "https://ben-marcantel.github.io/animationBoilerPlate/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src= "https://ben-marcantel.github.io/exercise2/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src= "https://ben-marcantel.github.io/coins/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src= "https://ben-marcantel.github.io/terraJs/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src= "https://ben-marcantel.github.io/Mushroom-Mania/"></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src="https://ben-marcantel.github.io/l-system/"></iframe>
    </li>
    
</ul>
</div>
<div class="portItem" ng-click="isOpen2 = !isOpen2">Sound Design/Composition</div>
<div class= "linkContainer">
<ul class="portList" id="sound" ng-show="isOpen2">
    <li>
        <iframe style="border: 0; width: 560px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3652304010/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sugarskulls.bandcamp.com/album/the-conlangers-guide-to-pentatonic-composition">The Conlanger&#39;s Guide to Pentatonic Composition by sugar sk*-*lls</a></iframe>
    </li>

    <li>
        <iframe style="border: 0; width: 560px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4183696516/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sugarskulls.bandcamp.com/album/secret-fugue-machine">Secret Fugue Machine by sugar sk*-*lls</a></iframe>
    </li>
    
        <iframe style="border: 0; width: 560px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1993229960/size=large/bgcol=000000/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sugarskulls.bandcamp.com/track/gini-rising">gini rising by sugar sk*-*lls</a></iframe>
    </li>
    <li>
        <iframe style="border: 0; width: 560px; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=519039456/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sugarskulls.bandcamp.com/album/another-micheal-mann-film">Another Micheal Mann Film by sugar sk*-*lls</a></iframe>
    </li>
</ul>
</div>
<div class="portItem" ng-click="isOpen3 = !isOpen3">Animation</div>
<div class= "linkContainer">
<ul class="portList" id="animation" ng-show="isOpen3">
    <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ls4qYq3t0Jc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </li>
    <li><iframe width="560" height="315" src="https://www.youtube.com/embed/9tftG_UsaqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>
    <li><iframe width="560" height="315" src="https://www.youtube.com/embed/-OEnEWAdOc0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>
</ul>
</div>