<ul class = "nav">
    <li ng-click="home()">home</li>
    <li ng-click="about()">about</li>
</ul>
<ul class="software">
    <li>
        Software
    </li>

    <li>
        <iframe src="https://ben-marcantel.github.io/p01FollowAlong/"></iframe>
    </li>
    <li>
        <iframe src="https://ben-marcantel.github.io/l-system/"></iframe>
    </li>
    <li>
    <iframe src= "https://ben-marcantel.github.io/animationBoilerPlate/"></iframe>
    </li>
    <li>
        <iframe src= "https://ben-marcantel.github.io/exercise2/"></iframe>
    </li>
</ul>
<ul class="sound">
    <li>
        Sound Design/Composition
    </li>
    <li>
        <iframe src="https://sugarskulls.bandcamp.com/"></iframe>
    </li>
</ul>
<ul class="animation">
    <li>
        Animation
    </li>
    <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ls4qYq3t0Jc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </li>
    <li><iframe width="560" height="315" src="https://www.youtube.com/embed/9tftG_UsaqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>
    <li><iframe width="560" height="315" src="https://www.youtube.com/embed/-OEnEWAdOc0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></li>
</ul>